# Compiled Java class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse files
.classpath
.project
.settings/

# IntelliJ IDEA files
*.iml
.idea/

# VS Code files
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Other files to ignore
bin/
out/
build/
target/
